/*CSS File that contains lots of styling*/

body {
  padding-top: 50px;
}

h1 {
	color: #3786AE;
}

h2 {
	color: #3786AE;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 5px;
	font-size: 12pt;
}

.starter-template {
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 70px;
	margin-left: -70px;
	margin-right: -70px;
	border-bottom: 2px solid #3786AE;
	max-width: 110%;
}

.starter-template2 {
	padding-top: 20px;
	padding-bottom: 60px;
	max-width: 110%;
}

.starter-template3 {
	margin-right: -70px;
	margin-left: -70px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 1000px;
	border-bottom: 2px solid #3786AE;
}

.btn-primary {
	color: #3786AE;
	background-color: #FFFFFF;
	border-color: #3786AE;
}

.btn-success {
	color: #4cae4c;
	background-color: #FFFFFF;
	border-color: #4cae4c;
}

.btn-danger {
	color: #D43F3A;
	background-color: #FFFFFF;
}

.center {
	text-align: center;
}

.eventDetailsMap {
	float: right;
	padding-top: 25px;
	padding-left: 150px:;
}

.eventDetailsColumn {
	margin-right: -60px;
	margin-left: 20px;
	min-width: 300px;
}

.eventsDetailsShift {
	margin-left: 10px;
	line-height: 1.5;
}

.carousel {
	background-color: rgb(115, 176, 207);
	margin-right: -20px;
}
.positionButtonsCarousel {
	float: right;
	padding-bottom: 55%;
}

.starter-template .lead {
	text-align: center;
}

.img-circle {
	border-radius: 50%;
	margin-left: 22%;
	margin-bottom: 20px;
}

.eventDetailsColumn>.leftColumn {
	overflow-y: hidden;
	height: 540px;
}

.eventDetailsColumn>.leftColumn:hover {
	overflow-y: scroll;
}

.profilePageIndent {
	margin-left: 60px;
}

.yourHubsIndent {
	overflow-x: scroll;
	margin-left: 15px;
	padding-top: 20px;
}

/*Code taken from http://stackoverflow.com/questions/11320323/tw-bootstrap-how
-to-overflow-columns. Allows horizontal scrolling on the user profile page*/
div.myClass {
    overflow-x: auto;
    white-space: nowrap;
}

div.myClass [class*="span"] {
    display: inline-block;
    float: none; /* Very important */
    margin-left: 25px;
    margin-right: 25px;
}

.createAHubIndent {
	margin-left: 20px;
}

.logInPageIndent {
	margin-left: 35px;
}

.createAccountIndent {
	margin-left: 35px;
}

.form-group {
margin-bottom: 15px;
margin-left: 40px;
width: 250px;
}

.width285 {
	width: 285px;
}

.width300 {
	width: 300px;
}

.width190 {
	width: 190px;
}

.width500 {
	width: 500px;
}

.width60 {
	width: 60px;
}

.shift-right {
	padding-left: 10px;
}

#map-canvas {
	width: 70%;
	height: 85%;
	position: absolute;
	right: 15px;
	top: 80px;
}

.thumbnail {
	border-color: #3786AE;
	border-width: 1px;
}

.shift-left {
	margin-right: 30px;
}

.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    width:100%;
    padding: 0 5px;
}

.DocumentItem
{
    border:1px solid black;
    padding:0;
    height:200px;
}

.list-inline {
  white-space:nowrap;
}

.navbar-inverse {
	background-color: rgb(242, 241, 241);
	border-color: #3786AE;
	padding-left: 3%;
	padding-right: 4%;
}

.navbar-inverse .navbar-nav>li>a {
	color: #3786AE;
}

.navbar-inverse .navbar-brand {
	color: #3786AE;
	font-size: 28px;
	margin-top: -2px;
}

.navbar-brand>img {
	display: inline-block;
	padding-bottom: 4px;
}

.navbar-inverse .navbar-toggle{
	border-color: #3786AE;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background-color: #3786AE;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: white;
	background-color: #3786AE;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: white;
	background-color: #3786AE;
}

.navbar-inverse .navbar-header > a:hover {
	color: #3786AE;
} 

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a {
	color: white;
	background-color: #3786AE;
}

.starter-template > h1, .starter-template2 > h1 {
	padding-left: 5%;
}
