<!DOCTYPE html>
<!--Code taken from getbootstrap.com Examples-->
<html lang="en">
  <head>
  	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'hubs/images/logo.png' %}">
    <title>HubUp</title>
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
    <!--jQuery file -->
    <script src="{% static 'hubs/dist/js/jquery-1.11.1.min.js' %}"></script>
    <!--Bootstrap core JS -->
    <script src="{% static 'hubs/dist/js/bootstrap.min.js' %}"></script>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'hubs/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--Custom styles-->
	  <link rel="stylesheet" type="text/css" href="{% static 'hubs/index.css' %}">
	<title>HubUp</title>
  </head>
  <body>
    <!--Navigation bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'hubs:index' %}">
          <img src="/static/hubs/images/logo.png" alt="Brand">
          HubUp
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'hubs:createHub' %}">Create</a></li>
          <li><a href="{% url 'hubs:viewHub' %}">Discover</a></li>
          <li><a href="{% url 'hubs:logInPage' %}">Log In</a></li>
          <li><a href="{% url 'hubs:createAccount' blankErrorStatus=False %}">Sign Up</a></li>
        </ul>
      </div>
    </nav>
    <!--Homepage carousel with images-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  	  <!-- Indicators -->
  	  <ol class="carousel-indicators">
  	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  	  </ol>

  	  <!-- Wrapper for slides -->
  	  <div class="carousel-inner" role="listbox">
  	    <div class="item active">
          <img src="{% static 'hubs/images/carousel_image_1.png' %}" alt="">
  	      <div class="carousel-caption">
            <div class="col-md-8 col-md-offset-7">
              <div class="positionButtonsCarousel"><a href = "{% url 'hubs:createAccount' blankErrorStatus=False %}"><button type="button" class="btn btn-primary btn-lg">Sign Up</button></a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href = "{% url 'hubs:logInPage' %}"><button type="button" class="btn btn-success btn-lg">Log In</button></a></div>
          </div>
  	      </div>
  	    </div>
  	    <div class="item">
          <img src="{% static 'hubs/images/carousel_image_2.png' %}" alt="...">
  	      <div class="carousel-caption">
  	      </div>
  	    </div>
  	    <div class="item">
          <img src="{% static 'hubs/images/carousel_image_3.png' %}" alt="...">
  	      <div class="carousel-caption">
  	      </div>
  	    </div>
	    </div>
  	</div>
    <!--Containers with information about HubUp and its features-->
    <div class="starter-template">
      <h1>Discover</h1><br><br>
      <div class="row">
        <div class="col-sm-4">
          <img class="img-circle" src="{% static 'hubs/images/featureCircle1.png' %}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
          <p class="lead">Find Hubs in your area</p>
        </div>
        <div class="col-sm-4">
          <img class="img-circle" src="{% static 'hubs/images/featureCircle2.png' %}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
	        <p class="lead">Meet new people</p>
        </div>
        <div class="col-sm-4">
          <img class="img-circle" src="{% static 'hubs/images/featureCircle3.png' %}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
          <p class="lead">Discover new experiences</p>
        </div>
      </div>
    </div>
    <div class="starter-template">
      <h1>Create</h1><br><br>
      <div class="row">
        <div class="col-sm-4">
          <img class="img-circle" src="{% static 'hubs/images/featureCircle5.png' %}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
          <p class="lead">Manage your Hubs</p>
        </div>
        <div class="col-sm-4">
          <img class="img-circle" src="{% static 'hubs/images/featureCircle4.png' %}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
          <p class="lead">Tag Hubs to locations</p>
        </div>
        <div class="col-sm-4">
          <img class="img-circle" src="{% static 'hubs/images/featureCircle6.png' %}" alt="Generic placeholder image" style="width: 200px; height: 200px;">
          <p class="lead">Gather members</p>
        </div>
      </div>
    </div>
    <div class="starter-template2">
      <h1>Get Started</h1>
      <br>
  	  <div class="center">
        <a href = "{% url 'hubs:createAccount' blankErrorStatus=False %}"><button type="button" class="btn btn-primary btn-lg">Sign Up</button></a>
    	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	  <a href = "{% url 'hubs:logInPage' %}"><button type="button" class="btn btn-success btn-lg">Log In</button></a></div>
  	 </div>
    </div>
  </body>
</html>