<!DOCTYPE html>
<!--Code taken from getbootstrap.com Examples-->
<html lang="en">
  <head>
  	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'hubs/images/logo.png' %}">
    <title>HubUp</title>
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
    <!--jQuery file -->
    <script src="{% static 'hubs/dist/js/jquery-1.11.1.min.js' %}"></script>
    <!--Bootstrap core JS -->
    <script src="{% static 'hubs/dist/js/bootstrap.min.js' %}"></script>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'hubs/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'hubs/index.css' %}">
	<title>HubUp</title>
	<!--Google Maps API-->
	<style type="text/css">
      html, body, #map-canvas {height: 85%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaUnHovRKBPmUfftlOioHOLTBvBJwIIvs">
    </script>
    <script type="text/javascript">
    	var geocoder
    	var map
        var initialLocation;
		var browserSupportFlag =  new Boolean();

		var latCoord = {{latCoord}};
		var lngCoord = {{lngCoord}};
		var hubName = {{hubName}};
		var hubLocation = {{hubLocation}};
		var hubDate = {{hubDate}};
		var hubTime = {{hubTime}};

		function initialize() {

			var myOptions = {
				zoom: 17,};
			
			var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

			var latLng = new google.maps.LatLng(latCoord, lngCoord);

			var image = "{% static 'hubs/images/logo2.png' %}";

			//Creates marker and info window
			var marker = new google.maps.Marker({
				position: latLng,
				map: map,
				icon: image});

			var contentString = "<h3>" + hubName + "</h3>"
								+ "<b>Location: </b>" + hubLocation
								+ "<br><b>Time: </b>" + hubDate + " | " + hubTime;

			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});

			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map,marker);
			});

			map.setCenter(latLng);
		}

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
  	<!--Displays all Hubs in a scrollable column on the left-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'hubs:index' %}">
          <img src="/static/hubs/images/logo.png" alt="Brand">
          HubUp
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'hubs:createHub' %}">Create</a></li>
          <li class="active"><a href="{% url 'hubs:viewHub' %}">Discover</a></li>
          <li class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'hubs:userProfile' %}" role="button" aria-expanded="false">
		      {{currentUser.firstName_text}} <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu" role="menu">
		      <li><a href="{% url 'hubs:userProfile' %}">Profile</a></li>
		      <li class="divider"></li>
		      <li><a href="{% url 'hubs:logout' %}">Log Out</a></li>
		    </ul>
		  </li>
        </ul>
      </div>
    </nav>
	<br><br><br>
	<div id="map-canvas"></div>
	<div class="container-fluid" id="main">
		<div class="row">
			<div class = "col-sm-3" id="left">
				<!--Lists details about the Hub-->
				<div class = "eventDetailsColumn">
					<h2>{{hub.eventName_text}}</h2>
					<ol><b>Host:</b> {{hostName}}</ol>
					<ol><b>Date:</b> {{hub.date_text}}</ol>
					<ol><b>Time:</b> {{hub.time_text}}</ol>
					<ol><b>Location:</b> {{hub.location_text}}</ol>
					<ol><b>Description:</b> {{hub.description_text}}</ol>
					{% if hub.users.count == 0 %}
						<ol><b>Members:</b> None</ol>
					{% else %}
						<ol>
							<div class="row">
								<div class="col-md-2">
									<b>Members:</b>
								</div>
									<div class = "col-md-8 col-md-offset-1">
										{% for user in hub.users.all %}
											{{user.firstName_text}} {{user.lastName_text}}
											<br>
										{% endfor %}
									</div>
							</div>
						</ol>
					{% endif %}
					<br>
					{% if currentUser.username_text == hub.eventHost_text %}
						<div class= "col-md-2">
							<form action = "{% url 'hubs:editHub' hub.id %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-success btn-lg">Edit Hub</button></a>
							</form>
						</div>
						<div class= "col-md-2 col-md-offset-3">
							<form action = "{% url 'hubs:deleteHub' hub.id %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-danger btn-lg">Delete Hub</button></a>
							</form>
						</div>
					{% else %}
						{% if currentUser in hub.users.all %}
						<div class= "col-md-2">
							<form action = "{% url 'hubs:leaveHub' hub.id %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-primary btn-lg">Leave Hub</button></a>
							</form>
						</div>
						{% else %}
							<div class= "col-md-2">
								<form action = "{% url 'hubs:addMember' hub.id %}" method="post">
									{% csrf_token %}
									<button type="submit" class="btn btn-primary btn-lg">Join Hub</button></a>
								</form>
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
			<!--Displays the Map in a static column on the right-->
			<div class = "col-sm-8">
				<div class="eventDetailsMap">
				</div>
			</div>
		</div>
	</div>
	<br><br><br>
  </body>
</html>